a {
    text-decoration: none;
}
  .el-col {
      border-radius: 4px;
  }

  .bg-purple-dark {
      background: #99a9bf;
  }

  .bg-purple {
      background: #d3dce6;
  }

  .bg-purple-light {
      background: #e5e9f2;
  }

  .grid-content {
      border-radius: 4px;
      min-height: 36px;
  }


    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom: 18px;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both
    }

    .box-card {
        width: 480px;
    }
