{% extends 'snippets/base.html' %}


{% block content %}
<div class="top-grids">
    <div class="recommended-info">
        <h3>Recent Videos</h3>
    </div>
    {% for video,views in video_views.items %}
    <div class="col-md-4 resent-grid recommended-grid slider-top-grids">
        <div class="resent-grid-img recommended-grid-img">
            <a href="single.html">
                <img src="images/t1.jpg" alt="" />
            </a>
            <div class="time">
                <p>{{ video.created}}</p>
            </div>
            <div class="clck">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            </div>
        </div>
        <div class="resent-grid-info recommended-grid-info">
            <h3>
                <a href="{% url "showVideo" video.id %}" class="title title-info">{{ video.title }}</a>
            </h3>
            <ul>
                <li>
                    <p class="author author-info">
                        <a href="#" class="author">{{ video.channel.user }}</a>
                    </p>
                </li>
                <li class="right-list">
                    <p class="views views-info">{{ views }} views</p>
                </li>
            </ul>
        </div>
    </div>
    {% endfor %}
    <div class="clearfix"> </div>
</div>
{% endblock content %}
    